<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>FSCONS 2014 survey</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
   <style>
     .container {
       width: auto;
       max-width: 680px;
       padding: 0 15px;
     }
      .container .text-muted {
        margin: 20px 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>FSCONS 2014 survey</h1>
      </div>
      {% block content %}
      <form action="/{{ uuid }}/comment" method="POST" role="form">
	<p class="lead">Tell us a bit more why you choose {{ score }}?</p>
        {% csrf_token %}
        <textarea name='comment'  class="form-control" rows="3"></textarea>
<br/>
	<div class="text-right">
	<button type="submit" class="btn btn-success">Submit</button>
 	</div>
      </form>
      {% endblock %}
  </body>
</html>
